# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities = pd.read_csv("Output/cities.csv")
print(cities)

     Unnamed: 0           Name  Latitude  Longitude  Temperature (F)  \
0             0  Port Mathurin    -19.68      63.42            76.78
1             1      Hanga Roa    -27.15    -109.43            66.20
2             2    Yellowknife     62.46    -114.35           -13.88
3             3          Vadso     70.07      29.75            28.40
4             4     St. John's     47.56     -52.71            35.26
..          ...            ...       ...        ...              ...
444         444     Zyryanovsk     49.74      84.27            18.12
445         445          Mansa     29.98      75.38            71.55
446         446          Irece    -11.30     -41.86            71.69
447         447         Vanimo     -2.67     141.30            84.33
448         448        Huarmey    -10.07     -78.15            62.28

     Maximum Temperature(F)  Minimum Temperature(F)  Humidity (%)  \
0                     76.78                   76.78            71
1                     66.20                   66.20            68
2                     -9.99                  -16.60            75
3                     28.40                   28.40            92
4                     37.00                   33.80            74
..                      ...                     ...           ...
444                   18.12                   18.12            90
445                   71.55                   71.55            20
446                   71.69                   71.69            83
447                   84.33                   84.33            68
448                   62.28                   62.28            88

     Cloudiness (%)  Wind Speed (mph)
0                 6              9.26
1                90             17.22
2                 5              3.36
3               100             19.46
4                 5             31.09
..              ...               ...
444              81              0.85
445              35              5.21
446             100              5.70
447              52              5.61
448              23              6.06

[449 rows x 10 columns]

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [4]:
humidity = cities["Humidity (%)"].astype(float)
maxhumidity = humidity.max()
locations = cities[["Latitude", "Longitude"]]

In [5]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=maxhumidity,point_radius=3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
narrowed_city_df = cities.loc[(cities["Maximum Temperature(F)"] > 70) & (cities["Maximum Temperature(F)"] < 80) & (cities["Cloudiness (%)"] == 0), :]
narrowed_city_df = narrowed_city_df.dropna(how='any')
narrowed_city_df.reset_index(inplace=True)
del narrowed_city_df['index']
print(narrowed_city_df)

    Unnamed: 0            Name  Latitude  Longitude  Temperature (F)  \
0           62           Tarim     16.06      49.00            75.25
1          221    Cidade Velha     14.92     -23.62            71.60
2          232          Gwadar     25.12      62.33            75.25
3          257         Fyzabad     26.78      82.13            72.97
4          298        Chamical    -30.36     -66.31            72.57
5          333           Nasir     15.59      32.56            72.27
6          335          Najran     17.49      44.13            71.60
7          345         Chabana     27.05     128.42            75.20
8          347  Khartoum North     15.63      32.63            72.28
9          391         Winneba      5.35      -0.62            78.80
10         417           Praya     14.92     -23.51            71.60
11         430        Trindade    -16.65     -49.49            71.60

    Maximum Temperature(F)  Minimum Temperature(F)  Humidity (%)  \
0                    75.25                   75.25            29
1                    71.60                   71.60            83
2                    75.25                   75.25            43
3                    72.97                   72.97            28
4                    72.57                   72.57            46
5                    73.00                   71.60            28
6                    71.60                   71.60            30
7                    75.20                   75.20            73
8                    73.00                   71.60            28
9                    78.80                   78.80            88
10                   71.60                   71.60            83
11                   71.60                   71.60            73

    Cloudiness (%)  Wind Speed (mph)
0                0              3.83
1                0              5.82
2                0              3.83
3                0              6.22
4                0             10.67
5                0             13.87
6                0              1.16
7                0              8.05
8                0             13.87
9                0              6.93
10               0              5.82
11               0              9.17

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [16]:
hotel_df = []

for i in range(len(narrowed_city_df)):
    latitude = narrowed_city_df.loc[i]['Latitude']
    longitude = narrowed_city_df.loc[i]['Longitude']

    params = {
        "row": i,
        "location": f"{latitude},{longitude}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    jsn = requested.json()
    try:
        hotel_df.append(jsn['results'][0]['name'])
    except:
        hotel_df.append("")
narrowed_city_df["Hotel Name"] = hotel_df
narrowed_city_df = narrowed_city_df.dropna(how='any')
narrowed_city_df.head()

,Unnamed: 0,Name,Latitude,Longitude,Temperature (F),Maximum Temperature(F),Minimum Temperature(F),Humidity (%),Cloudiness (%),Wind Speed (mph),Hotel Name
0,62,Tarim,16.06,49.00,75.25,75.25,75.25,29,0,3.83,Tarim
1,221,Cidade Velha,14.92,-23.62,71.60,71.60,71.60,83,0,5.82,Porto Gouveia
2,232,Gwadar,25.12,62.33,75.25,75.25,75.25,43,0,3.83,Gwadar
3,257,Fyzabad,26.78,82.13,72.97,72.97,72.97,28,0,6.22,Faizabad
4,298,Chamical,-30.36,-66.31,72.57,72.57,72.57,46,0,10.67,Chamical

In [14]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.row()]
locations = hotel_df[["Latitude", "Longitude"]]

AttributeError: 'list' object has no attribute 'row'

In [9]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))